<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

    <variable name="messageLayout" value="${message}"/>
    <variable name="messageLayout_Inline" value="${replace:inner=${messageLayout}:searchFor=\\r\\n|\\n:replaceWith=->:regex=true}"/>
    <variable name="systemName" value="ImportBatch"/>
    <targets>
        <target name="txtFile" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}.txt"
            layout="${longdate} [ ${systemName} - ${threadid} ] ${level:uppercase=true} -- ${callsite:className=true} : ${messageLayout_Inline} ${newline} ${exception:format=tostring} ${exception:stacktrace} ${newline}"
            maxArchiveFiles="7"
            keepFileOpen="false"
            concurrentWrites="true"
            archiveNumbering="Rolling"
            archiveFileName="${basedir}/archives/log_${date}.txt"
            archiveEvery="Day"/>
        <target xsi:type="Database" name="dbLog"
            connectionString="Server=JOSHUAPC\SQLEXPRESS;User Id=logUser;Password=1234;Database=logDB_alpha"
            commandText="INSERT INTO Batch_Job_Log (Event_Date, System_Name, Thread_ID, Error_Level, Class_Name, Message, Exception, StackTrace) Values (@Event_Date, @System_Name, @Thread_ID, @Error_Level, @Class_Name, @Message, @Exception, @StackTrace)">
            <parameter layout="${date}" name="@Event_Date" />
            <parameter layout="${level:uppercase=true}" name="@Error_Level" />
            <parameter layout="${systemName}" name="@System_Name" />
            <parameter layout="${threadid}" name="@Thread_ID" />
            <parameter layout="${callsite:className=true}" name="@Class_Name" />
            <parameter layout="${exception:format=tostring}" name="@Exception" />
            <parameter layout="${exception:stacktrace}" name="@StackTrace" />
            <parameter layout="${messageLayout_Inline}" name="@Message" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="txtFile" />
        <logger name="*" minlevel="Debug" writeTo="dbLog" />
    </rules>
</nlog>